<h1>Products for sale</h1>
		<% @products.each do |product| %>
			<div class="well">
				<div class="row">
					<div class="col-md-4">
						<%= link_to "#{product.title}", product_path(product) %>
					</div>
					
					<div class="col-md-4">
						<img src ="<%=product.url%>" alt="<%=product.title%>" height="200" width="200">
					</div>
					
					<div class="col-md-4">
						<div class="pull-right">
							<%= form_for(@order_item, remote: true) do |f| %>
								<%= f.hidden_field :product_id, value: product.id %>
								<h5><%= product.price %></h5>
								<div class="form-group">
									<%= f.text_field :quantity, value: 1, min: 1, class: 'form-control' %>
							</div>
							<%= f.submit "Add to cart", class: 'btn btn-primary btn-sm' %>
						<% end %>
						</div>
					</div>
				</div>
			</div>
		<% end %>
